body{
    margin: 0;
    display: grid;
}
.grid__container{
    width: 100%;
    height: 100vh;
    display: grid;
    grid-gap: 15px;
    background-color: white;
    padding: 15px;
    grid-template-columns: auto;
    grid-template-rows: auto;

}
.box-1{
    background-color: green;
}